#pc-wrap {
	.home-page {
		position: relative;
		width: 100%;
		height: auto;
		.info-box {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			.left {
				display: flex;
				flex-direction: column;
				span {
					color: #181a20;
					font-family: $font; 
                    text-align: center;
					font-size: 34px;
					font-style: normal;
					font-weight: 500;
					line-height: 150%;
					letter-spacing: -0.646px;
					text-transform: capitalize;
					&.white {
						color: #ffffff;
					}
				}
				p {
					color: #181a20;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 26px;
					&.white {
						color: #ffffff;
					}
				}
			}
			.right {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
				.pagination-box {
					display: flex;
					flex-direction: row;
					align-items: center;
					.swiper-pagination-bullet.swiper-pagination-bullet-active {
						background: #000000;
					}
					.swiper-trend-next {
						margin-left: 20px;
						cursor: pointer;
					}
					.swiper-trend-prev {
						margin-right: 20px;
						cursor: pointer;
					}
					.swiper-top-next {
						margin-left: 20px;
						cursor: pointer;
					}
					.swiper-top-prev {
						margin-right: 20px;
						cursor: pointer;
					}
				}
				.more-box {
					display: flex;
					flex-direction: row;
					cursor: pointer;
					align-items: center;
					span {
						color: #181a20;
						font-family: $font;
						font-size: 15px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						text-transform: capitalize;
					}
					img {
						margin-left: 10px;
						width: 16px;
						height: 16px;
					}
				}
				.btn-box {
					display: flex;
					flex-direction: row;
					button {
						border-radius: 6px;
						background: rgba(255, 255, 255, 0.07);
						color: #ffffff;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 28px;
						text-transform: capitalize;
						&:first-child {
							margin-right: 20px;
						}
						&.active {
							border: 1px solid #181a20;
							background: #fff;
							color: #181a20;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 500;
							line-height: 28px;
						}
					}
				}
			}
		}
		.features-container {
     		padding: 50px 0px 76px;
			width: 100%;
			height: 100px;
		
			display: flex;
			flex-direction: row;
			display: flex;
			justify-content: space-between;
		
			.fz-single-feature{
				flex-direction: row;
			    display: flex;
				.fz-3-single-feature__img{
					margin: 10px;
					cursor: pointer;
				}
				.fz-3-single-feature__txt{
					margin: 15px;
					cursor: pointer;
				}
			}
		
			
		
			>* {
				flex: auto;
			}
		}
		.trend-properties {
			padding: 108px 0px 76px;
			width: 100%;
			height: 697px;
			display: flex;
			flex-direction: row;
			.container {
				flex-direction: column;
				.card-box {
					position: relative;
					margin-top: 64px;
					display: flex;
					flex-direction: row;
					.empty-list {
						width: 100%;
						height: 280px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					.trend-property-swiper {
						width: 100%;
						height: 400px;
						display: flex;
						flex-direction: row;
						.trend-property-slide {
							width: auto;
							height: auto;
							display: flex;
							margin: 10px 0 0 10px;
						}
					}
					.trend-card-box {
						position: relative;
						width: 300px;
						height: 375px;
						display: flex;
						justify-content: center;
						gap: 10px;
						border-radius: 50%;
                       // border: 2px solid springgreen;
						flex-direction: column;
						transition: transform 0.3s;
						&:hover {
							opacity: 1;
							transform: scale(1.05);
						}
						.card-img {
							position: relative;
							width:  214px;
							height: 214px;
							background-color: #bdbdbd;
							background-size: cover;
							//border-radius: 12px 12px 0px 0px;
							border-radius: 50%;
							
							cursor: pointer;
							img{
								width: 142px;
								height: 97px;
								margin-left: 15%;
								margin-top: 25%;
							}
							
						}
						.info {
							
							padding: 20px 22px 17px;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							box-sizing: border-box;
						    box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
							.title {
								overflow: hidden;
								color: crimson;
							    margin-right:35%;
								text-overflow: ellipsis;
								white-space: nowrap;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								text-transform: capitalize;
								cursor: pointer;
							}
							.desc {
								margin-top: 5px;
								overflow: hidden;
								color: #717171;
								font-family: $font;
								font-size: 13px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
							.options {
								margin-top: 15px;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								div {
									display: flex;
									flex-direction: row;
									img {
										margin-right: 5px;
										width: 17px;
										height: 17px;
									}
									span {
										color: #181a20;
										font-family: $font;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
									}
								}
							}
							.bott {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								p {
									color: #181a20;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
									text-transform: capitalize;
								}
								button {
									margin-left: 7px;
									width: 16px;
									height: 16px;
									box-sizing: border-box;
								}
								.view-like-box {
									display: flex;
									flex-direction: row;
									gap: 7px;
									align-items: center;
									.view-cnt {
										color: #717171;
										font-family: $font;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
										text-overflow: ellipsis;
									}
								}
							}
						}
					}
				}
			}
		}
		.offer-section{
			//padding: 132px 0px 94px;
			width: 100%;
			height: 400px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			background: #f6f6f6;
			.info-row{
				display: flex;
				flex-direction: row;
				gap: 10px;
				justify-content: space-around;
				.fz-3-single-offer {
				    background: url('/img/banner/cake-banner.jpg');
					background-size: cover;
					padding: 50px;
					padding-right: 320px;
					color: white;
					transition: all 0.4s ease;
					overflow: hidden;
					position: relative;
					isolation: isolate;
			
					
			
					&::after {
						content: "";
						position: absolute;
						inset: 0;
						background-color: rgba(0, 0, 0, 0.32);
						z-index: -1;
					}
			
					
			
					&__title {
						font-size: 35px;
						line-height: 45px;
						font-weight: 600;
						margin-bottom: 23px;
			
			
					
					}
			
					&__btn {
						color: #fff;
					
						padding: 0 20px;
						height: 35px;
						line-height: 33px;
			
						&:hover {
							background-color: white;
							color: black;
						}
					}
				}
			}

		
		}
		.popular-properties {
			padding: 132px 0px 94px;
			width: 100%;
			height: 816px;
			display: flex;
			flex-direction: row;
			background: #f6f6f6;
			.container {
				flex-direction: column;
				align-items: center;
				.info-box-1{
					width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.left {
				display: flex;
				flex-direction: column;
				span {
					color: #181a20;
					font-family: $font; 
                   // text-align: center;
					font-size: 34px;
					font-style: normal;
					font-weight: 500;
					line-height: 150%;
					letter-spacing: -0.646px;
					text-transform: capitalize;
					&.white {
						color: #ffffff;
					}
				}
			}
				}
				.card-box {
					margin-top: 34px;
					width: 100%;
					height: auto;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					.popular-property-swiper {
						width: 100%;
						height: 435px;
						display: flex;
						flex-direction: row;
						.popular-property-slide {
							width: auto;
							height: auto;
							display: flex;
							margin: 10px 0 10px 10px;
						}
					}
					.popular-card-box {
						position: relative;
						width: 400px;
						height: 350px;
					    display: flex;
						flex-direction: column;
						justify-content: center;
						transition: transform 0.3s, opacity 0.3s;
						&:hover {
							opacity: 1;
							transform: scale(1.05);
							
						}   .fz-3-single-product__img{
                               width: 336px;
							   height: 336px;
							@include xxs {
								width: 100%;
								height: auto;
							
								background-color: red;
							}
						
							&:hover {
								.fz-3-single-product__actions .bottom-actions button {
									translate: 0 0;
									opacity: 1;
									pointer-events: auto;
								}
							}
						
							&__img {
								position: relative;
						
								img {
									width: 100%;
								}
							}
						
							&__actions {
								.top-actions {
									button {
										position: absolute;
										top: 15px;
										right: 20px;
						
										&:hover {
											color: $color-3;
										}
									}
								}
						
								.bottom-actions {
									position: absolute;
									bottom: 30px;
									width: 100%;
									display: flex;
									gap: 10px;
									justify-content: center;
						
									@include lg {
										bottom: 15px;
									}
						
									button {
										color: $white;
										background-color: crimson;
										padding: 8px 20px;
										border-radius: 5px;
										line-height: normal;
										translate: 0 25px;
										opacity: 0;
										border: 1px solid $black-0;
										pointer-events: none;
						
										@include xl {
											padding: 8px 15px;
										}
						
										@include lg {
											padding: 5px 10px;
											font-size: 13px;
										}
						
										&:nth-child(2) {
											transition-delay: 0.1s;
										}
						
										&:hover {
											background-color: $white;
											color: $black;
										}
									}
								}
							}
						
							&__txt {
								text-align: left;
								padding: 17px 0 0;
						
								@include xxs {
									text-align: center;
								}
							}
						
							&__title {
								font-size: 18px;
								font-weight: 500;
								color: $black;
								margin-bottom: 6px;
						
								@include lg {
									font-size: 16px;
								}
						
								&:hover {
									color: $color-3;
								}
							}
						
							&__price {
								font-weight: 500;
						
								@include lg {
									font-size: 14px;
								}
						
								.prev-price {
									color: #999;
									margin-left: 5px;
								}
							}
						}
						/* .card-img {
							position: relative;
							width: 400px;
							height:  336px;
							background-size: cover;
							border-radius: 12px 12px 0px 0px;
							cursor: pointer;
							&.hover{
								transform: scale(.8);
								
							}
							div.status {
								position: absolute;
								padding: 6px 34px;
								left: 20px;
								top: 20px;
								display: flex;
								align-items: center;
								border-radius: 6px;
							
								img {
									width: 14px;
									height: 14px;
								}
							
								span {
									margin-left: 5px;
									color: #fff;
									font-family: $font;
									font-size: 12px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
									text-transform: uppercase;
								}
							}
							div.price {
								position: absolute;
								padding: 8px 12px;
								left: 20px;
								bottom: 20px;
								border-radius: 6px;
								
								color: #181a20;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
						.info {
							padding: 20px 22px 17px;
							display: flex;
							flex-direction: column;
							box-sizing: border-box;
							border-radius: 0px 0px 12px 12px;
							
							border-top: none;
							
							box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
							.title {
								overflow: hidden;
								color: #181a20;
								text-overflow: ellipsis;
								white-space: nowrap;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								text-transform: capitalize;
								cursor: pointer;
								
							}
							a:hover{
								color: crimson;
							}
						
							.desc {
								margin-top: 5px;
								overflow: hidden;
								color: #717171;
								font-family: $font;
								font-size: 13px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
							.options {
								margin-top: 15px;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								div {
									display: flex;
									flex-direction: row;
							   
									span {
										color: #181a20;
										font-family: $font;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
									}
								}
							}
							.bott {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								width: 100%;
								Button {
									color: #181a20;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 500;
									line-height: normal;
									text-transform: capitalize;
								}
								Button:hover{
									background: crimson;
								}
							
								.view-like-box {
									display: flex;
									flex-direction: row;
									gap: 7px;
									align-items: center;
									.view-cnt {
										color: #181a20;
										font-family: $font;
										font-size: 15px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
										text-overflow: ellipsis;
									}
								}
							}
						} */
					}
				}
				.pagination-box {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					margin-top: 25px;
					.swiper-pagination-bullet.swiper-pagination-bullet-active {
						background: #000000;
					}
					.swiper-popular-next {
						margin-left: 20px;
						cursor: pointer;
					}
					.swiper-popular-prev {
						margin-right: 20px;
						cursor: pointer;
					}
				}
			}
		}
		.video-frame {
			width: 100%;
			height: 678px;
			background: black;
			transform: perspective(0px);
			box-shadow: -3px 0px 20px 14px #34343480;
		}
		.top-properties {
			padding: 108px 0px 76px;
			width: 100%;
			height: 607px;
			display: flex;
			flex-direction: row;
			.container {
				flex-direction: column;
				.card-box {
					position: relative;
					margin-top: 64px;
					display: flex;
					flex-direction: row;
					 .top-property-swiper {
						width: 100%;
						height: 400px;
						display: flex;
						flex-direction: row;
						.top-property-slide {
							width: auto;
							height: auto;
							display: flex;
							margin: 10px 0 0 10px;
						}
					}
					.fz-7-product {
						position: relative;
						margin-bottom: 1px;
					
						&:hover {
							.fz-7-product {
								&-actions {
									height: 43px;
									color: crimson;
									margin-top: 18px;
								}
					
								&-txt {
									margin-top: -50px;
									padding: 23px 30px;
									box-shadow: 0 7px 6px rgb(0, 0, 1, 0.07);
					
									@include lg {
										padding: 23px 15px;
									}
								}
					
								&-img img {
									scale: 1.06;
								}
							}
					
							.add-to-cart-btn {
								border-color: #2B2C34;
							}
						}
					
						&-img {
							width: 300px;
							height: 250px;
							overflow: hidden;
						
					
							img {
								transition: scale 0.4s ease;
								width: 100%;
							}
						}
					
						&-txt {
							padding: 16px 30px;
							background-color: #fff;
							position: relative;
							transition: 0.4s ease;
					
							@include lg {
								padding: 16px 15px;
							}
						}
					
						&-cat {
							font-size: 14px;
							color: #6D6D6D;
							margin-bottom: 6px;
						}
					
						&-title {
							font-weight: 600;
							font-size: 16px;
							color: #2B2C34;
							text-transform: uppercase;
							margin-bottom: 8px;
					
							a:hover {
								color: #fb2f29;
							}
					
							@include lg {
								font-size: 15px;
							}
						}
					
						&-price {
							font-weight: 500;
							color: #2B2C34;
							margin-bottom: 18px;
							margin-bottom: 0;
						}
					
						&-actions {
							display: flex;
							justify-content: space-between;
							height: 0;
							overflow: hidden;
							transition: all 0.4s ease;
					
							.right {
								display: flex;
								gap: 15px;
					
								button {
									color: #929292;
									font-size: 18px;
					
									&:hover {
										color: #fb2f29;
									}
								}
							}
						}
					
						.add-to-cart-btn {
							color: #2B2C34;
							font-size: 14px;
							border-bottom: 1px solid transparent;
					
							&:hover {
								color: #fb2f29;
								border-color: #fb2f29;
							}
						}
					}
					
				}

			}
		}
		.top-agents {
			position: relative;
			padding: 153px 0px 135px;
			width: 100%;
			height: 722px;
			display: flex;
			flex-direction: row;
			background: #f6f6f6;
			.container {
				position: relative;
				flex-direction: column;
				align-items: center;
				.wrapper {
					width: 100%;
					margin-top: 83px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					.switch-btn {
						width: 53px;
						height: 53px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
						background: #ffffff;
						filter: drop-shadow(0px 10px 35px rgba(5, 16, 54, 0.1));
						cursor: pointer;
						svg {
							width: 14px;
							height: 14px;
						}
						&.swiper-agents-next {
							transform: rotate(180deg);
						}
					}
					.card-wrapper {
						width: 1174px;
						height: 280px;
						display: flex;
						flex-direction: row;
						.top-agents-swiper {
							width: 99.7%;
							height: 280px;
							display: flex;
							flex-direction: row;
							.top-agents-slide {
								width: auto;
								height: auto;
								display: flex;
							}
						}
						.top-agent-card {
							width: 205px;
							height: 280px;
							display: flex;
							flex-direction: column;
							img {
								width: 209px;
								height: 209px;
								border-radius: 50%;
								cursor: pointer;
								object-fit: cover;
							}
							strong {
								margin-top: 20px;
								color: #181a20;
								text-align: center;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								text-transform: capitalize;
								cursor: pointer;
							}
							span {
								color: #181a20;
								text-align: center;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 400;
								line-height: 28px;
							}
						}
					}
				}
			}
		}
		.clients-section {
			margin-top: 40px ;
			padding: 50px;
			justify-content: center;
			align-items: center;
			display: flex;
			background-image: url('/img/banner/fz-client-bg.png');
			background-size: cover;
			height: 300px;
			
		
		 .container{
			 .clients {
			
				display: flex;
				justify-content: space-between;
                 align-items: center;
		         height: auto;
				img {
					width: 103px;
					margin: auto;
					height: 100px;
					object-fit: contain;
		
		
				background: none;
			
			
			
				.fz-1-section-heading {
					text-align: left;
					border-bottom: 1px solid rgb(0 0 0 / 10%);
					padding-bottom: 10px;
				}
			
				}
			}
		 }
		
		
		}
		
		
		.events {
			position: relative;
			padding: 100px 0px 92px;
			width: 100%;
			height: 810px;
			display: flex;
			flex-direction: row;
			background: #f6f6f6;
			.container {
				flex-direction: column;
				align-items: center;
				.card-wrapper {
					position: relative;
					margin-top: 48px;
					width: 100%;
					height: auto;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					.event-card {
						position: relative;
						width: 300px;
						height: 420px;
						border-radius: 12px;
						opacity: 0.9;
						cursor: pointer;
						transition: opacity 0.4s;
						&:hover {
							opacity: 1;
							scale: 1.05;
							transition: 0.3s;
							.more {
								opacity: 1;
							}
						}
						.info {
							position: absolute;
							display: flex;
							flex-direction: column;
							top: 35px;
							left: 10px;
							right: 10px;
							strong {
								color: #f64747;
								font-family: $font;
								font-size: 25px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								text-transform: capitalize;
							}
							span {
								color: #f66767;
								font-family: $font;
								font-size: 20px;
								font-style: normal;
								font-weight: 500;
								line-height: 28px;
								text-transform: capitalize;
							}
						}
						.more {
							position: absolute;
							left: 10px;
							right: 10px;
							bottom: 41px;
							display: flex;
							flex-direction: row;
							align-items: center;
							opacity: 0;
							span {
								padding: 0px 5px;
								border-radius: 5px;
								background: #fffdfdc4;
								color: #9c67f6;
								font-family: $font;
								font-size: 16px;
								font-style: normal;
								font-weight: 400;
								line-height: 26px;
								text-align: justify;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
		.community-board {
			position: relative;
			padding: 124px 0px 61px;
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			.container {
				flex-direction: column;
				flex-wrap: wrap;
				align-items: center;
				gap: 30px;
				.fz-3-section-heading{
			
					display: flex;
					flex-direction: column;
					justify-content: center;
					h2{
						color: #181a20;
						font-family: $font; 
						text-align: center;
						font-size: 40px;
						font-style: normal;
						font-weight: 500;
						line-height: 150%;
						letter-spacing: -0.646px;
						text-transform: capitalize;
						&.white {
							color: #ffffff;
						}
					}
					p{
						color: #181a20;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 26px;
					&.white {
						color: #ffffff;
					}
					}
				}
				.card-wrap {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
				
					.vertical-card {
						margin-right: 12px;
						margin-bottom: 18px;
						width: 420px;
						gap: 10px;
						display: flex;
						flex-direction: column;
						cursor: pointer;
					
						.community-img {
							position: relative;
							width: 350px;
							height: 301px;
							background-size: cover;
							background-repeat: round;
							border-radius: 5px;
							&:hover {
								opacity: 1;
								transform: scale(1.05);
								//box-shadow: 10px 10px #181a20;
							}
							div {
								position: absolute;
								width: 60px;
								height: 40px;
								display: flex;
								justify-content: center;
								align-items: center;
								background:  crimson;
								top: 10px;
								left:30px;
								border-radius: 5px 0px;
								font-family: $font;
								font-style: normal;
								font-weight: 400;
								font-size: 19px;
								line-height: 36px;
								letter-spacing: -0.015em;
								color: #fff;
							}
							&:hover{
								transform: scale(1.1);
							}
						}
						
						strong {
							margin-top: 10px;
							font-family: $font;
							font-style: normal;
							font-weight: 700;
							font-size: 18px;
							line-height: 36px;
							letter-spacing: 0.105em;
							color: #000000;
						}
						span {
							font-family: $font;
							font-style: normal;
							font-weight: 400;
							font-size: 16px;
							line-height: 19px;
							letter-spacing: -0.015em;
							color: #d3d3d3;
						}
					}
					.fz-3-single-blog__txt{
						margin-top: 20px;
						display: flex;
						flex-direction: column;
						justify-content: center;
					
						//background-color: #9c67f6;
						width: 330px;
						height: 70px;
						h3{
							width: 100%;
							color: #181a20;
						font-family: $font; 
						//text-align: center;
						font-size: 15px;
						font-style: normal;
						font-weight: 600;
						line-height: 1.4;
						letter-spacing: -0.646px;
						text-transform: capitalize;
						&.white {
							color: #ffffff;
						}
						}
						span{
							color: #181a20;
					font-family: $font;
					text-align: justify;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 26px;
					&.white {
						color: #ffffff;
					}
						}
					}
					.fz-3-single-blog__category-and-actions{
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						//background-color: #9c67f6;
						width: 300px;
						height: 60px;
						span{
							color: #181a20;
					font-family: $font;
					
					font-size: 15px;
					font-style: normal;
					font-weight: 400;
					line-height: 26px;
					&:hover{
						color: crimson;
					}
					&.white {
						color: #ffffff;
					}
					
						}
					}
					
				}
		        
					&:hover{
						.fz-3-single-blog__img img {
							transform: scale(1);
						}
			
						.fz-3-single-blog__category-and-actions {
							color: black;
						}
					}
			
					&__img {
						position: relative;
						overflow: hidden;
						border-radius: 8px;
			
						img {
							width: 100%;
							transition: 0.4s ease;
						}
					}
			
					&__title {
						font-size: 23px;
						transition: all 0.1s ease;
						margin-bottom: 0;
						padding: 18px 0;
						border-bottom: 1px solid #ddd;
						margin-bottom: 20px;
			
						
			
						a {
							display: inline;
							background-image: linear-gradient(#4a4a4a, #4a4a4a);
							background-size: 0% 1px;
							background-repeat: no-repeat;
							background-position: left bottom;
							transition: 0.4s ease;
			
							&:hover {
								background-size: 100% 1px;
							}
						}
					}
			
			
					&__category-and-actions {
						display: flex;
						justify-content: space-between;
						color: #999;
			
					
			
						a {
							&:hover {
								i {
									transform: rotate(-45deg);
								}
							}
			
							i {
								transition: all 0.4s ease;
							}
						}
					}
				
			}
		}
	}
}
